
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-light">QUA LA ZAMPA FARMACIA</h2>

<div class="text-center d-flex flex-column justify-content-center align-items-center"  >
<div class="card mb-3 "  style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/images/cane_capp.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title"> I PRODOTTI DISPONIBILI NEL CATOLOGO</h3>
                <p class="card-text">dai una rapida occhiata ai prodotti disponibili</p>
                @Html.ActionLink("mostra prodotti", "Index", "Prodotti", "", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/images/Gatto_europeo4.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">INSERISCI UN NUOVO PRODOTTO</h3>
                <p class="card-text">inserisci un nuovo prodotto all'interno del nostro catalogo' </p>
                @Html.ActionLink("CREA prodotti", "Create", "Prodotti", "", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
</div>