@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html { 
    

    
   
}

body {
    
        
    font-family: 'Manrope', sans-serif;
    background-color: rgb( 9,35,35) !important;
}

.card {
  
    
  
    width: 500px;
  
    background-color: rgb( 9 ,35 ,35)!important ;
   
    border-radius: 6px;
    
}

    .card input {
        margin-top: 10px;
        background-color: rgb( 9,35,35) !important;
    }

.btn-success {
    color: #fff;
    background-color: #ff5300;
    border-color: #ff5300
}

    .btn-success:hover {
        color: #fff;
        background-color: #ff0000;
        border-color: #ff0000
    }

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff5300;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 255, 255)
}
h4{

    text-align:center;
    margin-top: 0;
}
