


<main class="d-flex flex-column">


    <h1 class="text-center title display-3 mb-5">
        Clinica veterinaria e Farmacia "Qua la zampa"
    </h1>



    <div class="d-flex justify-content-evenly align-items-center mt-5 mb-5">
        <div class="first-home-div">
            <h4 class="homeContent">
                Benvenuti a 'Qua la Zampa' - il vostro partner fidato per la salute e il benessere dei vostri amici pelosi. Nel cuore del nostro studio e farmacia veterinaria, siamo impegnati a prendersi cura delle esigenze del vostro animale domestico come se fosse uno di famiglia. Con competenza, passione e amore per gli animali, ci impegniamo ogni giorno per garantire che le vostre zampe siano felici e in salute.
            </h4>
        </div>
        <div>
            <div>
                <button class="myButton text-light" @Html.ActionLink("Cerca codice Microchip", "InsertChipCode")
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-evenly align-items-center mt-5 mb-5">
        <div class="first-home-div">
            <div class="ms-5">
                <div class="image-container">
                </div>
            </div>
        </div>
        <div>
            <h4 class="homeContent p-3">
                La nostra farmacia é l luogo dove prezzi convenienti e offerte frequenti si incontrano per prendersi cura del benessere del vostro fedele amico a quattro zampe. Da noi, la salute del vostro animale domestico è una priorità e il vostro portafoglio lo sa bene. Grazie ai nostri prezzi bassi e alle offerte regolari, garantiamo un accesso facile a farmaci e prodotti di alta qualità senza svenarsi.
            </h4>
        </div>
    </div>












</main>