
@{
    ViewBag.Title = "InsertChipCode";
}



<h2 class="text-center">Ricerca tramite codice Microchip</h2>

<div class="d-flex justify-content-center">
    <input type="text" id="codeInput" dirname="codeBox" />
    <a id="SearchButton" class="btn btn-danger">Cerca</a>
</div>

<div id="result" class="d-flex justify-content-center mt-5">
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $("#SearchButton").click(function () {
                var NewCode = $('#codeInput').val()
                $("#result").empty()

                $.ajax({
                    method: "GET",
                    url: "GetByChipCode",
                    data: { code: NewCode },
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (i, item) {
                            let div = "<div class='card' style='width: 18rem;'>" +
                                            "<img class='cart-img-top' src='/Content/images/" + item.Foto +"'/>" +
                                            "<div class='card-body'>" +
                                                "<h6 class='card-title'> Nome:" + item.Nome + "</h6>" +
                                                "<p class='card-text'> Nome del Proprietario:" + item.NomeProprietario + "</p>" +
                                                "<p class='card-text'> Cognome del Proprietario:" + item.CognomeProprietario + "</p>" +
                                            "</div>" +
                                      "</div>"
                                $("#result").append(div)
                        })
                    }
                })
            })
            
        })
    </script>
    }
    
    
    
 


        

