
@{
    ViewBag.Title = "InsertChipCode";
}

<h2>InsertChipCode</h2>


<h2>Ricerca tramite codice Microchip</h2>


<input type="text" id="codeInput" dirname="codeBox" />
<a id="SearchButton" class="btn btn-danger">Cerca</a>


<div id="result">
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $("#SearchButton").click(function () {
                var NewCode = $('#codeInput').val()

                $.ajax({
                    method: "GET",
                    url: "GetByChipCode",
                    data: { code: NewCode },
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (i, item) {
                            let div = "<div>" +
                                "<div> <img width='200px' height='230px' src='/Content/images/" + item.Foto +"'/> </div>" +
                                "<div> <p>" + item.Tipologia + "</p></div>" +
                                "<div> <p>" + item.CodiceMicrochip + "</p></div>" +
                                "<div> <p>" + item.NomeProprietario + "</p></div>" +
                                "<div> <p>" + item.CognomeProprietario + "</p></div>" +
                                "</div>"
                                $("#result").append(div)
                        })
                    }
                })
            })
            
        })
    </script>
    }
    
    
    
 


        

