
@{
    ViewBag.Title = "InsertChipCode";
}

<h2>InsertChipCode</h2>


<h2>Ricerca tramite codice Microchip</h2>


<input type="text" name="codeInput" dirname="codeBox" />
<a id="SearchButton" class="btn btn-danger">Cerca</a>


<div id="result">
</div>

@section scripts {
    <script src="~/Scripts/ScriptSearchByMicrochip.js"></script>
    }
    
    
    
 


        

