@model List<TheLastBuildWeek.Models.T_Ricovero>

@{
    ViewBag.Title = "Ricoveri";
}

<h2>Ricoveri</h2>

<table class="table">
    <thead>
        <tr>
            <th id="IdAnimaleClick">Nome Animale</th>
            <th>Data Ricovero</th>
            <th>Descrzione Ricovero</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ricovero in Model)
        {
            <tr>
                <td>@ricovero.FKIDAnimale</td>
                <td>@ricovero.DataRicovero</td>
                <td>@ricovero.DescrizioneRicovero</td>
                <td><button id="showDetails">@Html.ActionLink("Dettagli", "AnimaleView", new { id = ricovero.FKIDAnimale })</button></td>
            </tr>
            <tr id="#AnimaliView">

            </tr>
        }
    </tbody>
</table>

<div id="IdAnimaleClick">

    DETTAGLI
</div>

@section scripts {

    <script>

        $(document).ready(function () {

            $("#showDetails").click(showDetails () {

                $("#IdAnimaleClick").slideToggle("/Home/AnimaleView")

            })
        })

    </script>
    }