
@{
    ViewBag.Title = "Index";
}




<h2 class="m-4 ">Coming Soon</h2>

<div>/
    <div class="d-flex justify-content-around align-items-center gap-5 ">
        <div>
            <img src="~/Content/images/prossimamente.jpg" / style="height:70%; margin-bottom:2em;">

        </div>
        <p style="width:20%; text-align:center; line-height:3em; font-size:1.4em; font-weight:600; font-style:initial; color:white">
            L'azienda sta attualmente espandendo la propria gamma di servizi per includere la cura completa dei tuoi amici a pinne.
            Oltre alle nostre attività principali, ora offriamo servizi specializzati per la cura di pesci, tra cui la vendita di acquari personalizzati e la manutenzione professionale degli stessi.
            Inoltre, mettiamo a disposizione una vasta gamma di mangimi specifici di alta qualità per garantire che i tuoi pesci siano ben nutriti e in ottima salute.
            Questa nuova iniziativa è il nostro impegno a fornire ai nostri clienti soluzioni complete per le esigenze dei loro animali domestici, compresi i compagni acquatici.


        </p>


    </div>


</div>





