
@{
    ViewBag.Title = "Index";
}




<h2>Coming Soon</h2>

<div>
    <div>
        <div>
            <img src="~/Content/images/prossimamente.jpg"/ height="70%;">

        </div>
        <p>
            L'azienda sta attualmente espandendo la propria gamma di servizi per includere la cura completa dei tuoi amici a pinne. 
            Oltre alle nostre attività principali, ora offriamo servizi specializzati per la cura di pesci, tra cui la vendita di acquari personalizzati e la manutenzione professionale degli stessi. 
            Inoltre, mettiamo a disposizione una vasta gamma di mangimi specifici di alta qualità per garantire che i tuoi pesci siano ben nutriti e in ottima salute.
            Questa nuova iniziativa è il nostro impegno a fornire ai nostri clienti soluzioni complete per le esigenze dei loro animali domestici, compresi i compagni acquatici.


        </p>





    </div>





</div>

  



